<div>
    <div class="jumbotron" style="      margin-top: 30px;
    padding: 150px;
    min-height:300px ;
     color: white;
      border: 1px solid black;
      background-image:url( https://www.hortongroup.com/hs-fs/hubfs/Horton_Group_Portfolio/Featured/HG-Work-Portfolio-2017-Watermark-Background.png?width=700&height=365&name=HG-Work-Portfolio-2017-Watermark-Background.png);">
    <div style="border: 1px solid black;background-color: rgba(0, 0, 0, 0.6);">
        <h2 style="text-align: center; ">About Us</h2>
        <p style="padding:5px;">At Myportfolio our core aim is to serve our clients with dedication and integrity, meet their expectations and build enduring relationship. We take the opportunity to introduce ourselves as professionals with a single vision and mission statement - “To serve our clients by putting sincere efforts with honesty and integrity – Clients’ Interest First.

          We do not consider our success by merely encouraging the discipline of investments to our clients, but we also accord high importance and take necessary steps to ensure that our clients steer away from common mistakes of simple investing viz. getting out of the market at the wrong time during pullbacks and waiting too long before getting back in. To us, disciplined investment behavior is the key to financial success.
          
          Mr. Amit Rastogi, the Principal, brings to ‘Myportfolio’ his vast experience from Financial Industry with organizations like IIFL, ABN AMRO Bank and RBS Bank. In 2010, he moves to an entrepreneurial role as a highly successful Mutual Fund Distributor. Over the years, Mr. Rastogi in his capacity as MFD has generated goodwill in the Industry which has been the most significant source of energy for his growth.</p>
  </div>
    </div>
<router-outlet></router-outlet>