<div>
    <form class="form">
          <h2 style="color: rgb(246, 243, 243);text-align: center;">Contact Us </h2>
          <div class="secondaryTitle title" style="color: rgb(246, 243, 243);text-align: center;">Please fill this form to sign up.</div>
          <input type="text" class="name formEntry" placeholder="Name" />
          <input type="text" class="email formEntry" placeholder="Email"/>
          <textarea class="message formEntry" placeholder="Message"></textarea>
          <button class="submit formEntry" >Submit</button>
        </form>
      </div>
<router-outlet></router-outlet>