<div>
  <div class="jumbotron" style="      margin-top: 30px;
  padding: 150px;
  min-height:300px ;
   color: white;
    border: 1px solid black;
    background-image:url( https://www.hortongroup.com/hs-fs/hubfs/Horton_Group_Portfolio/Featured/HG-Work-Portfolio-2017-Watermark-Background.png?width=700&height=365&name=HG-Work-Portfolio-2017-Watermark-Background.png);">
    <div style="border: 1px solid black;background-color: rgba(0, 0, 0, 0.6);">
      <h2 style="text-align: center;">Login</h2>
      <p style="text-align: center">Enter the registered E-mail address and the password!</p>
      <form action="">
        <div class="container">
          <p style="text-align: center;padding-bottom: 20px">
             E-mail <input type="text" name="email" placeholder="Confirm email address" email required style="padding-right: 60px;margin-left: 35px" ></p>
              </div>
         <div class="container">
          <p style="text-align: center">
         Password <input type="text" name="email" placeholder="Password" required style="padding-right: 60px;margin-left: 15px"> <br>
          <button class="btn btn-primary" style="margin-top: 20px"> Login</button></p>          
        </div>
      

      </form>
</div>
  </div>



</div>