@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(232, 227, 227);
}

.top {
  background-image: url("./assests/MenuImage.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.navMain {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.mask-custom {
  background: rgba(0, 0, 0, 0.27);
  border: none;
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  margin-right: 0;
  color: white;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.boxContainer {
  /*padding: 45vh 0vh 0vh 30vw;*/
  padding: 15vh 0vh 0vh 28vw;
  margin-bottom: 7vw;
}

.box {
  width: fit-content;
  padding: 2.1vw;
  border: none;
  font-size: 2vw;
  color: white;
  font-family: "Courier New", monospace;
}

.mainLine {
  font-size: 9vw;
  font-family: "Yellowtail", cursive;
  color: #fbfdfd;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e4e5e5;
}

.tagLine {
  font-size: 1vw;
  color: rgb(202, 202, 202);
  font-family: "Courier New", monospace;
}

.contactUsContainer {
  background: #e4e6e8;

  overflow: hidden;
}

.sectionHeading {
  padding-top: 8vw;
  color: rgb(254, 248, 248);
  text-align: center;
  font-size: 3vw;
  font-weight: 100;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
}

.aboutUsContainer {
  text-align: justify;
}

.sectionBody {
  margin: 2vw 0vw 0vw 0vw;
  font-size: 1.2vw;
}

.items {
  border-bottom: 2px solid transparent;
}
.items:hover {
  border-bottom: 2px solid rgb(246, 244, 244);

  animation: floating 0.5s ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(7px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

.colFilled {
  margin-right: 7vw;
}

.priceTags {
  float: right;
  text-align: right;
}

.itemDetails {
  font-size: 0.7vw;
  color: rgb(248, 242, 242);
}

.fullMenuButtonContainer {
  text-align: center;
  margin: 3vw 0vw 0vw -7vw;
}
.fullMenuButton {
  border-radius: 0.3vw;
  background-color: #f7f9f9;
  color: rgb(14, 13, 13);
  border: none;
  text-align: center;
  font-size: 1vw;
  padding: 0.7vw;
  width: 10vw;
  transition: all 0.3s;
  cursor: pointer;
}

.fullMenuButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: rgb(14, 13, 13);
  transition: 0.3s;
}

.fullMenuButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1vw;
  transition: 0.3s;
  color: rgb(14, 13, 13);
}

.fullMenuButton:hover span {
  padding-right: 25px;
  color: rgb(8, 8, 8);
}

.fullMenuButton:hover span:after {
  opacity: 1;
  right: 0;
}



.contain {
  max-width: 1170px;
  margin: 2vw auto 0 auto;
  padding: 3vw;

  background: rgba(207, 186, 186, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(12.4px);
}
.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #ec1c24;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}
::-webkit-input-placeholder {
  /* Chrome */
  font-family: "Roboto", sans-serif;
}
.form-input:focus,
textarea:focus {
  outline: 1.5px solid #f3f4f4;
}

.form-input,
textarea {
  width: 100%;
  border: 1px solid #fbfafa;
  border-radius: 5px;
  padding: 1em;
}

.required-input {
  color: black;
}
.full-width {
  grid-column: 1 / 3;
}
.reset-btn {
  float: left;
}

.submit-btn {
  float: right;
  background: transparent;
  border: 1px solid #257772;
  color: #257772;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
.submit-btn:hover,
.submit-btn:focus {
  background: #257772;
  outline: 0;
  color: rgb(11, 11, 11);
}

.reset-btn:hover,
.reset-btn:focus {
  background: #db1118;
  border: #db1118;
  outline: 0;
  color: rgb(251, 160, 160);
  color: rgb(9, 9, 9);
}


ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.reset-btn {
  background: transparent;
  border: 1px solid #870509;
  color: #870509;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}

.error {
  color: #ec1c24;
}

/**/ /**/

.footer {
  background: rgba(0, 0, 0, 0.27);
  border: none;
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;

  margin-top: 7vw;
}

.footer .row {
  width: 100%;
  padding: 0.6% 0%;
  color: rgb(249, 246, 246);
  font-size: 0.8em;
}
.iconContainer {
  display: flex;
  justify-content: center;
}

.footerAnchor {
  text-decoration: none;
  color: rgb(252, 248, 248);
  transition: 0.5s;
  display: block;
  margin: 0vw 1vw 0vw 1vw;
  text-decoration: none;
}

.footer .row a:hover {
  color: rgb(248, 245, 245);
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}